/*font-family: 'Josefin Slab', serif;*/
/*font-family: 'Kaushan Script', cursive;*/
/*font-family: 'Montserrat', sans-serif;*/
/* Color Average Mountains: #292738 */

/* BROWSER RESETS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFFFFF;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 
				'Segoe UI', 'Roboto', 'Oxygen', 
				'Ubuntu', 'Cantarell', 'Fira Sans', 
				'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
	display: block;
}

::-moz-selection { background: #FFFFFF; color: #292738; }
::selection { background: #FFFFFF; color: #292738; }

/* END BROWSER RESETS */



/* Animations & Animation Mixin */

@mixin fade-in($waitTime) {
    animation: 
        wait #{$waitTime},
        fade-in 1s linear #{$waitTime};
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@mixin foot-line($waitTime) {
    animation: 
        wait-foot #{$waitTime},
        foot-line 2s linear #{$waitTime};
}

@keyframes wait-foot {
    0% { width: 0; }
    100% { width: 0; }
}

@keyframes foot-line {
    0% { width: 0; }
    100% { width: 100%; }
}

@mixin side-line($waitTime) {
    animation: 
        wait-side #{$waitTime},
        side-line 4s linear #{$waitTime};
}

@keyframes wait-side {
    0% { height: 0; }
    100% { height: 0; }
}

@keyframes side-line {
    0% { height: 0; }
    100% { height: 100%; }
}

/* END Animations & Animation Mixin */


.content-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;

	.back-image {
		width: 100%;
		height: 100vh;
		background-image: url("../assets/pexels-simon-berger-1323550.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		box-shadow: inset 0 0 0 100vmax rgb(0 0 0 / 20%);
		opacity: 1;
		animation: fade-in 2s linear;
	}

	.graphic {
		position: fixed;
		left: 50px;
		top: 50px;
		opacity: 1;
		@include fade-in('2s');
		@media screen and (max-width: 767px) {
			left: 15px;
			top: 15px;
		}

		svg {
			width: 215px;
			height: auto;
			@media screen and (max-width: 1023px) {
    			width: 175px;
    		}
    		@media screen and (max-width: 767px) {
				width: 100px;
			}
		}
	}

	.content {
		width: 100%;
		max-width: 590px;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: calc(50% - 178px);
		margin: 0 auto;
		opacity: 1;
		@include fade-in('5s');
		@media screen and (max-width: 1023px) {
			max-width: 485px;
			top: calc(50% - 160px);
		}
		@media screen and (max-width: 767px) {
			max-width: 290px;
			left: -28px;
			top: calc(50% - 125px);
		}
		@media screen and (max-width: 374px) {
			max-width: 242px;
			top: calc(50% - 131px);
		}

		h1 {
			font-family: 'Kaushan Script', cursive;
			font-size: 100px;
			font-weight: 400;
    		font-style: normal;
    		line-height: 1.2;
    		@media screen and (max-width: 1023px) {
    			font-size: 80px;
    		}
    		@media screen and (max-width: 767px) {
				font-size: 38px;
				line-height: 1.4l;
			}
    	}

    	h2 {
    		font-family: 'Josefin Slab', serif;
    		font-size: 34px;
    		font-weight: 400;
    		font-style: normal;
    		line-height: 1;
    		letter-spacing: 2.5px;
    		text-transform: uppercase;
    		padding-bottom: 25px;
    		@media screen and (max-width: 1023px) {
    			font-size: 28px;
    		}
    		@media screen and (max-width: 767px) {
				font-size: 18px;
				letter-spacing: 1.5px;
				padding-bottom: 15px;
			}
    	}

    	p {
    		font-family: 'Montserrat', sans-serif;
    		font-size: 16px;
    		font-weight: 300;
    		font-style: normal;
    		letter-spacing: .5px;
    		@media screen and (max-width: 1023px) {
    			font-size: 14px;
    		}
    		@media screen and (max-width: 767px) {
				font-size: 12px;
			}
			@media screen and (max-width: 374px) {
				font-size: 11px;
			}

    	}
	}

	.sidebar {
		position: fixed;
		right: 50px;
		top: 0;
		width: 3px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 767px) {
			right: 25px;
		}
		
		.top, 
		.bottom {
			width: 3px;
			height: 50%;
			background-color: #FFFFFF;
			@include side-line('3s');
		}

		.middle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3px;
			margin: 48px 0;
			opacity: 1;
			@include fade-in('5s');

			a {
				color: #FFFFFF;
				text-transform: uppercase;
				font-family: 'Josefin Slab', serif;
				font-weight: 400;
				font-size: 15px;
				line-height: 15px;
				letter-spacing: 2.5px;
				text-decoration: none;
				padding-top: 3px;
				transform: rotate(90deg);
				&:hover {
					font-style: italic;
				}
			}
		}
	}

	.footer {
		position: fixed;
		bottom: 42px;
		width: calc(100% - 55px); /* 50px space, 5px border & 25px space to social icons*/
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 767px) {
			bottom: 16.5px;
			width: calc(100% - 28px);
		}
		
		.left {
			width: 100%;
			height: 3px;
			background-color: #FFFFFF;
			@include foot-line('3s');
		}

		.right {
			display: flex;
			margin-left: 25px;
			opacity: 1;
			@include fade-in('5s');

			a {
				margin-right: 25px;
				&:hover {
					opacity: .35;
				}
				span {
					font-size: 20px;
    				line-height: 20px;
				}
			}
		}
	}
}